.items-container{
width: 100%;
margin: 40px ;
}
.item-container{
width: 250px;
margin: 10px;
}

.item-image{
    width: 100%;
    border-radius: 10px;
}
.rating{
    font-size: 12px;
    font-weight: 700;
}
.company-name{
    margin-top:15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: black;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price{
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;

}
.curruent-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price{
    text-decoration: line-through ;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 15px;

}
.btn-add-bag{
    font-family:serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ff905a;
    border: none;
    padding: 5px ;
    border-radius: 10px;
    cursor:pointer;
}
.bag-item-count{
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
}
.action_container {
    text-decoration: none;
}
a.action_container:link {
    color:black;
}